block control
  input.form-control(
    type="text"
    ng-model=model
    name=control.name
    id=control
    is-open="datepickers." + control + "_opended"
    ng-focus="datepickers." + control + "_opended = true"
    datepicker-popup=""
    ng-datepicker-fix=""
    datepicker-options="{}"
  )
  span.input-group-btn
    button.btn.btn-default(
      type="button"
      ng-click=control + "_open($event)"
    )
      i.glyphicon.glyphicon-calendar

block content
  div(class=layout === "horizontal" ? "col-xs-8" : undefined)
    div.control-wapper.input-group
      block control
