block label
  span
  
block content
  div(class=layout === "horizontal" ? "col-xs-offset-4 col-xs-8" : undefined)
    div.control-wapper.checkbox
      label 
        input(type="checkbox" ng-model=model name=control.name id=control.name ng-true-value="true" ng-false-value="false")
        span= control.label
