//pre= JSON.stringify(listable_fields, null, 2)
section#list
  div.pull-right
    a.btn.btn-primary.btn-create(ui-sref=states.create)
      i.fa.fa-plus.fa-lg
      span(translate="")= buttons.list_create.text

  div.clearfix

  //pre {{list | json}}

  table.table.table-striped(st-table='' id=name st-pipe="getList" st-delay="1000")
    thead
      tr
        each val in listable_fields
          th(st-sort=val.name translate="")
            span= val.label
        th(translate="") Actions
      tr
        each val in listable_fields
          if (val.type)
            th
              if (val.type == "text" || val.type == "static" || val.type == "email")
                input.input-sm.form-control(st-search=val.name type="text")
              if (val.type == "number")
                input.input-sm.form-control(st-search=val.name type="number")
              if (val.type == "date-range")
                st-date-range(collection= val.label_values predicate=val.name)
              if (val.label_values)
                st-select(collection= val.label_values predicate=val.name)
          else
            th
        th
    tbody
      tr(ng-repeat='row in list.list')
        each val in listable_fields
          td= '{{row.' + val.name + (val.label_filter ? ' | ' + val.label_filter : '') + '}}'
        td
          a.entity-action.entity-update(ui-sref='^.update({' + id_param + ': row.id})', uib-tooltip="{{'" + buttons.update.tooltip + "' | translate}}")
            i.fa.fa-pencil-square-o.fa-lg
          a.entity-action.entity-delete(ng-click='delete($index, row)', confirm="{{'" + buttons.delete.alert + "' | translate}}", uib-tooltip="{{'" + buttons.delete.tooltip + "' | translate}}")
            i.fa.list.fa-trash-o.fa-lg
    tfoot
      tr
        //td.text-center(st-pagination='', st-items-by-page='list.limit', colspan=columns)
        td(colspan=columns)
          span(st-pagination="", st-items-by-page="list.limit")
          span.btn.btn-secondary(ng-click="download('text/csv')")
            i.fa.fa-download
            span Descargar SCV
          span.btn.btn-secondary(ng-click="download('text/xml')")
            i.fa.fa-download
            span Descargar XML
          span.btn.btn-secondary
            i.fa.fa-download
            span Descargar EXCEL-XML
